<head>
  <link href='http://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>

<article class="type-system-traditional">
  <p class="type"><%= @user_name %></p>
  <h1>Email Report - Property Tracker N.I</h1>
  <h2><%= @latestarticle.title %> </h2>
  <p class="date"><%= Time.now.strftime("%d/%m/%Y") %></p>
  <p><%= @latestarticle.text %>
    <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
  </p>
  <h3>Average Annual Price Change in Northern Ireland </h3>
  <p><%=  image_tag attachments['imageavgprc.jpg'].url %> </p>
  <h3>Average Annual Volume Change in Northern Ireland</h3>
  <p><%=  image_tag attachments['imagevol.jpg'].url %></p>
  <h3>Annual Volume Sale versus Sale Agreed</h3>
  <p><%=  image_tag attachments['imagesalesold.jpg'].url %>
  </p>
  <% @vAreas.each do |area| %>
      <h3><%= area %></h3>
      <p>Annual Volume Sales</p>
      <p><%=  image_tag attachments["image_yr_#{area}.jpg"].url %>  </p>
      <p>Average Price PropertyType</p>
      <p><%=  image_tag attachments["avgpc_yr_#{area}.jpg"].url %>  </p>
      <p>Volume Sold by PropertyType</p>
      <p><%=  image_tag attachments["sold_yr_#{area}.jpg"].url %>  </p>
  <% end %>
  <hr>

</article>

