
<h3>Monthly Volume Properties put on Sale for <%= @county %></h3>

<table class="table-borders">
  <thead>
    <tr>
      <th>Area</th>
      <th>Total Residents/Sites on Sale</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
  <% @vhistvol.each do |itmvol|   %>
    <tr>
      <td> <%= itmvol.search_params['searchparam'] %></td>
      <td> <%= itmvol['resultvalue'] %></td>
      <td><%=  link_to "Detail", detailvol_path(itmvol['search_params_id']) %></td>
    </tr>
 <% end %>

  </tbody>
</table>
<%= will_paginate @vhistvol %>
