
<h3>Monthly Volume Sales for <%= @county %></h3>

<table class="table-borders">
  <thead>
    <tr>
      <th>Area</th>
      <th>Total Residents/Sites on Sale</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
  <% @histvol.each do |itmvol|   %>
    <tr>
      <td> <%= itmvol.search_params.searchparam %></td>
      <td> <%= itmvol.resultvalue %></td>
      <td><%= button_to 'Detail', detail_path(county: itmvol.search_params.searchparam) %></td>
    </tr>
 <% end %>
  </tbody>
</table>
<%= will_paginate @histvol %>
