<div class="grid-items-lines">
  <a href="<%= county_priceview_path %>" class="grid-item">

    <h1>Highest Sales Volume (Past Month)</h1>
    <p>
      <%= ul_column2(@mostsalescnty) %>
    </p>
  </a>
  <a href="<%= county_priceview_path %>" class="grid-item grid-item-big ">

    <div class="chart-wrapper">
    <div class="chart-inner">
    <p><%= high_chart("OverallVolID", @chart) %></p>
    </div>
    </div>
  </a>

  <a href="<%= county_pricingview_path %>" class="grid-item">
    <h1>Highest Average Price (Past Month)</h1>
    <p>
      <%= ul_column2(@mostpricecnty) %>
    </p>
  </a>
  <a href="<%= county_pricingview_path %>" class="grid-item grid-item-big ">
    <div class="chart-wrapper">
      <div class="chart-inner">
        <p><%= high_chart("AvgPrice", @cntychart) %></p>
      </div>
    </div>
  </a>
  <a href="" class="grid-item">
    <h1>Highest Volume Sold (Past Month)</h1>
    <p>
      <%= ul_column2(@mostsldcnty) %>
    </p>
  </a>
  <a href="<%= county_pricingview_path %>" class="grid-item grid-item-big ">
    <div class="chart-wrapper">
      <div class="chart-inner">
        <p><%= high_chart("Volumeyear", @volchart) %></p>
      </div>
    </div>
  </a>




</div>